# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_0.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_1.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_10.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_11.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_12.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_13.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_14.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_15.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_16.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_17.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_18.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_19.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_2.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_20.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_21.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_22.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_23.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_24.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_25.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_26.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_27.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_28.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_29.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_3.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_30.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_31.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_32.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_33.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_34.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_35.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_36.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_37.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_38.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_39.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_4.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_40.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_41.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_42.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_43.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_44.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_45.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_46.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_47.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_48.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_49.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_5.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_50.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_51.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_52.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_53.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_54.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_55.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_56.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_57.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_58.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_59.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_6.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_60.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_61.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_62.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_63.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_7.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_8.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_9.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt00.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt01.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt02.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt03.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/LUTs.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/LUTs/NeutralLUT_32.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_BlueRed.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_GreenPurple.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_PurpleGreen.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_RedBlue.tga.meta
*.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_0.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_1.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_10.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_11.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_12.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_13.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_14.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_15.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_16.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_17.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_18.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_19.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_2.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_20.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_21.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_22.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_23.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_24.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_25.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_26.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_27.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_28.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_29.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_3.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_30.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_31.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_32.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_33.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_34.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_35.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_36.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_37.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_38.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_39.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_4.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_40.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_41.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_42.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_43.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_44.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_45.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_46.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_47.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_48.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_49.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_5.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_50.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_51.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_52.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_53.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_54.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_55.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_56.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_57.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_58.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_59.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_6.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_60.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_61.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_62.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_63.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_7.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_8.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Resources/Bluenoise64/LDR_LLL1_9.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt00.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt01.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt02.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Lens Dirt/LensDirt03.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/LUTs.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/LUTs/NeutralLUT_32.png.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_BlueRed.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_GreenPurple.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_PurpleGreen.tga.meta
ZombieGame/Assets/Flooded_Grounds/PostProcessing/Textures/Spectral LUTs/SpectralLut_RedBlue.tga.meta


/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
